# env file
.env

# Editor/IDE
# .idea/
# .vscode/

pb_data/

# executors
data/


.python-version

# Builds
bin


# AI
INSTRUCTIONS.md
.github/skills/

# QPI config file
qpi.config.yml

# quantify 
quantify.hardware.json
quantify.hardware.yml
quantify.hardware.yaml
quantify.device.json
quantify.config.yml
quantify.device.yml
quantify.config.yaml
quantify.device.yaml
!**/fixtures/**.json
!**/fixtures/**.yaml
!**/fixtures/**.yml

**.hex
**.q1asm
**.nc
**.pkl

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py.cover
*.lcov
.hypothesis/
.pytest_cache/
cover/

# Ruff stuff:
.ruff_cache/

**/qpi

# TLS
**.pem
**.key
!**/fixtures/**.key
!**/fixtures/**.pem

dist/
.agents/