<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Name="QPI Orchestrator" Id="*" UpgradeCode="32AAA554-16F5-420B-B646-6A57FF07D1B0" Language="1033" Codepage="1252" Version="0.0.21" Manufacturer="SopherApps">
    <Package InstallScope="perMachine" Id="*" Keywords="Installer" Description="QPI Orchestrator Installer" Compressed="yes" />
    <Media Id="1" Cabinet="qpi.cab" EmbedCab="yes" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFiles64Folder" Name="PFiles">
        <Directory Id="APPLICATIONFOLDER" Name="QPI">
          <Component Id="MainExecutable" Guid="*">
            <File Id="QpiEXE" Name="qpi.exe" Source="dist/qpi_windows_amd64_v1/qpi.exe" KeyPath="yes" />
          </Component>
        </Directory>
      </Directory>
    </Directory>

    <Feature Id="Complete" Level="1">
      <ComponentRef Id="MainExecutable" />
    </Feature>
  </Product>
</Wix>